<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypto Sniper</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.png" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="mainContainer" class="container mt-5">
      <h1 class="text-center mb-4">Crypto Sniper</h1>

      <div class="text-center mb-4">
        <!-- 登入和註冊按鈕 -->
        <button
          class="btn btn-outline-primary"
          id="loginBtn"
          data-toggle="modal"
          data-target="#loginModal"
        >
          登入/註冊
        </button>

        <!-- 登出按鈕 -->
        <button
          class="btn btn-outline-danger"
          id="logoutBtn"
          onclick="logout()"
          style="display: none"
        >
          登出
        </button>

        <button class="btn btn-outline-secondary" id="toggleThemeBtn">
          背景切換
        </button>
      </div>

      <!-- Login Modal -->
      <div class="modal" id="loginModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">會員登入</h5>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <form id="loginForm" onsubmit="event.preventDefault(); login();">
                <div class="form-group">
                  <label for="loginEmail">電子信箱：</label>
                  <input
                    type="email"
                    class="form-control"
                    id="loginEmail"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="loginPassword">密碼：</label>
                  <input
                    type="password"
                    class="form-control"
                    id="loginPassword"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="btn toggle-modal-link btn-outline-success btn-sm"
                >
                  登入
                </button>
              </form>
              <p class="mt-3">
                還沒有帳戶?
                <a
                  href="#"
                  class="toggle-modal-link btn btn-outline-primary btn-sm"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#registerModal"
                  >點此註冊</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Register Modal -->
      <div class="modal" id="registerModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">會員註冊</h5>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <form
                id="registerForm"
                onsubmit="event.preventDefault(); register();"
              >
                <div class="form-group">
                  <label for="registerName">姓名：</label>
                  <input
                    type="text"
                    class="form-control"
                    id="registerName"
                    name="name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="registerEmail">電子信箱：</label>
                  <input
                    type="email"
                    class="form-control"
                    id="registerEmail"
                    name="email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="registerPassword">密碼：</label>
                  <input
                    type="password"
                    class="form-control"
                    id="registerPassword"
                    name="password"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="btn toggle-modal-link btn-outline-primary btn-sm"
                >
                  註冊
                </button>
              </form>
              <p class="mt-3">
                已經有帳戶了?
                <a
                  href="#"
                  class="toggle-modal-link btn btn-outline-success btn-sm"
                  data-dismiss="modal"
                  data-toggle="modal"
                  data-target="#loginModal"
                  >點此登入</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- 篩選器、圖表 -->
      <h2 class="mb-3">幣安U本位合約篩選器</h2>
      <div class="main">
        <form name="filterForm" class="mb-4">
          <!-- 第一组參數 -->
          <div class="filter-group">
            <div class="form-group">
              <label for="time-interval-1">時間週期：</label>
              <select
                id="time-interval-1"
                name="time-interval-1"
                class="form-control col-md-2 col-4"
              >
                <option value="5m">5分鐘</option>
                <option value="15m" selected>15分鐘</option>
                <option value="30m">30分鐘</option>
                <option value="1h">1小時</option>
                <option value="2h">2小時</option>
                <option value="4h">4小時</option>
                <option value="1d">1天</option>
                <option value="1w">1周</option>
                <option value="1M">1個月</option>
              </select>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA1-1"
                  name="MA1-1"
                  class="form-control"
                  placeholder="請輸入MA"
                  value="25"
                />
                <div class="ma">MA</div>
              </div>

              <div class="form-group col-md-2 col-4">
                <select
                  id="comparison-operator-1-1"
                  name="comparison-operator-1-1"
                  class="form-control"
                >
                  <option value=">">大於</option>
                  <option value="<">小於</option>
                  <option value="==">等於</option>
                  <option value=">=">大於等於</option>
                  <option value="<=">小於等於</option>
                  <option value="!==">不等於</option>
                </select>
              </div>

              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA1-2"
                  name="MA1-2"
                  class="form-control"
                  placeholder="請輸入MA"
                  value="60"
                />
                <div class="ma">MA</div>
              </div>

              <!-- 增加篩選條件的按鈕 -->
              <button
                id="toggle-filters-btn-1"
                type="button"
                class="btn btn-outline-info btn-block my-3"
              >
                增加篩選條件
              </button>

              <div class="w-100"></div>

              <div class="form-group col-md-2 col-3 hidden toggle-element-1">
                <select
                  id="logical-operator-1"
                  name="logical-operator-1"
                  class="form-control"
                >
                  <option value="and">且</option>
                  <option value="or">或</option>
                </select>
              </div>
            </div>

            <div class="form-row hidden toggle-element-1">
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA1-3"
                  name="MA1-3"
                  class="form-control"
                  placeholder="請輸入MA"
                />
                <div class="ma">MA</div>
              </div>

              <div class="form-group col-md-2 col-4">
                <select
                  id="comparison-operator-1-2"
                  name="comparison-operator-1-2"
                  class="form-control"
                >
                  <option value=">">大於</option>
                  <option value="<">小於</option>
                  <option value="==">等於</option>
                  <option value=">=">大於等於</option>
                  <option value="<=">小於等於</option>
                  <option value="!==">不等於</option>
                </select>
              </div>

              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA1-4"
                  name="MA1-4"
                  class="form-control"
                  placeholder="請輸入MA"
                />
                <div class="ma">MA</div>
              </div>
            </div>

            <!-- 增加時間週期的按鈕 -->
            <button
              id="add-time-period-1"
              type="button"
              class="btn btn-outline-primary btn-block my-3 hidden-before-login"
            >
              增加時間週期
            </button>
          </div>

          <!-- 第二组參數 -->
          <div class="filter-group hidden-before-login hidden toggle-element-5">
            <div class="form-group">
              <label for="time-interval-2">時間週期：</label>
              <select
                id="time-interval-2"
                name="time-interval-2"
                class="form-control col-md-2 col-4"
              >
                <option value="5m">5分鐘</option>
                <option value="15m">15分鐘</option>
                <option value="30m">30分鐘</option>
                <option value="1h" selected>1小時</option>
                <option value="2h">2小時</option>
                <option value="4h">4小時</option>
                <option value="1d">1天</option>
                <option value="1w">1周</option>
                <option value="1M">1個月</option>
              </select>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA2-1"
                  name="MA2-1"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>

              <div class="form-group col-md-2 col-4">
                <select
                  id="comparison-operator-2-1"
                  name="comparison-operator-2-1"
                  class="form-control"
                >
                  <option value=">">大於</option>
                  <option value="<">小於</option>
                  <option value="==">等於</option>
                  <option value=">=">大於等於</option>
                  <option value="<=">小於等於</option>
                  <option value="!==">不等於</option>
                </select>
              </div>

              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA2-2"
                  name="MA2-2"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>

              <!-- 增加篩選條件的按鈕 -->
              <button
                id="toggle-filters-btn-2"
                type="button"
                class="btn btn-outline-info btn-block my-3"
              >
                增加篩選條件
              </button>

              <div class="w-100"></div>

              <div class="form-group col-md-2 col-3 hidden toggle-element-2">
                <select
                  id="logical-operator-2"
                  name="logical-operator-2"
                  class="form-control"
                >
                  <option value="and">且</option>
                  <option value="or">或</option>
                </select>
              </div>
            </div>

            <div class="form-row hidden toggle-element-2">
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA2-3"
                  name="MA2-3"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>

              <div class="form-group col-md-2 col-4">
                <select
                  id="comparison-operator-2-2"
                  name="comparison-operator-2-2"
                  class="form-control"
                >
                  <option value=">">大於</option>
                  <option value="<">小於</option>
                  <option value="==">等於</option>
                  <option value=">=">大於等於</option>
                  <option value="<=">小於等於</option>
                  <option value="!==">不等於</option>
                </select>
              </div>

              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA2-4"
                  name="MA2-4"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>
            </div>

            <!-- 增加時間週期的按鈕 -->
            <button
              id="add-time-period-2"
              type="button"
              class="btn btn-outline-primary btn-block my-3 hidden-before-login"
            >
              增加時間週期
            </button>
          </div>

          <!-- 第三组參數 -->
          <div class="filter-group hidden-before-login hidden toggle-element-6">
            <div class="form-group">
              <label for="time-interval-3">時間週期：</label>
              <select
                id="time-interval-3"
                name="time-interval-3"
                class="form-control col-md-2 col-4"
              >
                <option value="5m">5分鐘</option>
                <option value="15m">15分鐘</option>
                <option value="30m">30分鐘</option>
                <option value="1h">1小時</option>
                <option value="2h">2小時</option>
                <option value="4h" selected>4小時</option>
                <option value="1d">1天</option>
                <option value="1w">1周</option>
                <option value="1M">1個月</option>
              </select>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA3-1"
                  name="MA3-1"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>
              <div class="form-group col-md-2 col-4">
                <select
                  id="comparison-operator-3-1"
                  name="comparison-operator-3-1"
                  class="form-control"
                >
                  <option value=">">大於</option>
                  <option value="<">小於</option>
                  <option value="==">等於</option>
                  <option value=">=">大於等於</option>
                  <option value="<=">小於等於</option>
                  <option value="!==">不等於</option>
                </select>
              </div>
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA3-2"
                  name="MA3-2"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>
              <!-- 增加篩選條件的按鈕 -->
              <button
                id="toggle-filters-btn-3"
                type="button"
                class="btn btn-outline-info btn-block my-3"
              >
                增加篩選條件
              </button>
              <div class="w-100"></div>

              <div class="form-group col-md-2 col-3 hidden toggle-element-3">
                <select
                  id="logical-operator-3"
                  name="logical-operator-3"
                  class="form-control"
                >
                  <option value="and">且</option>
                  <option value="or">或</option>
                </select>
              </div>
            </div>

            <div class="form-row hidden toggle-element-3">
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA3-3"
                  name="MA3-3"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>
              <div class="form-group col-md-2 col-4">
                <select
                  id="comparison-operator-3-2"
                  name="comparison-operator-3-2"
                  class="form-control"
                >
                  <option value=">">大於</option>
                  <option value="<">小於</option>
                  <option value="==">等於</option>
                  <option value=">=">大於等於</option>
                  <option value="<=">小於等於</option>
                  <option value="!==">不等於</option>
                </select>
              </div>
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA3-4"
                  name="MA3-4"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>
            </div>

            <!-- 增加時間週期的按鈕 -->
            <button
              id="add-time-period-3"
              type="button"
              class="btn btn-outline-primary btn-block my-3 hidden-before-login"
            >
              增加時間週期
            </button>
          </div>

          <!-- 第四组參數 -->
          <div class="filter-group hidden-before-login hidden toggle-element-7">
            <div class="form-group">
              <label for="time-interval-4">時間週期：</label>
              <select
                id="time-interval-4"
                name="time-interval-4"
                class="form-control col-md-2 col-4"
              >
                <option value="5m">5分鐘</option>
                <option value="15m">15分鐘</option>
                <option value="30m">30分鐘</option>
                <option value="1h">1小時</option>
                <option value="2h">2小時</option>
                <option value="4h">4小時</option>
                <option value="1d" selected>1天</option>
                <option value="1w">1周</option>
                <option value="1M">1個月</option>
              </select>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA4-1"
                  name="MA4-1"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>
              <div class="form-group col-md-2 col-4">
                <select
                  id="comparison-operator-4-1"
                  name="comparison-operator-4-1"
                  class="form-control"
                >
                  <option value=">">大於</option>
                  <option value="<">小於</option>
                  <option value="==">等於</option>
                  <option value=">=">大於等於</option>
                  <option value="<=">小於等於</option>
                  <option value="!==">不等於</option>
                </select>
              </div>
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA4-2"
                  name="MA4-2"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>
              <!-- 增加篩選條件的按鈕 -->
              <button
                id="toggle-filters-btn-4"
                type="button"
                class="btn btn-outline-info btn-block my-3"
              >
                增加篩選條件
              </button>
              <div class="w-100"></div>

              <div class="form-group col-md-2 col-3 hidden toggle-element-4">
                <select
                  id="logical-operator-4"
                  name="logical-operator-4"
                  class="form-control"
                >
                  <option value="and">且</option>
                  <option value="or">或</option>
                </select>
              </div>
            </div>
            <div class="form-row hidden toggle-element-4">
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA4-3"
                  name="MA4-3"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>
              <div class="form-group col-md-2 col-4">
                <select
                  id="comparison-operator-4-2"
                  name="comparison-operator-4-2"
                  class="form-control"
                >
                  <option value=">">大於</option>
                  <option value="<">小於</option>
                  <option value="==">等於</option>
                  <option value=">=">大於等於</option>
                  <option value="<=">小於等於</option>
                  <option value="!==">不等於</option>
                </select>
              </div>
              <div class="form-group col-md-3 col-6 ma-input-container">
                <input
                  type="text"
                  id="MA4-4"
                  name="MA4-4"
                  placeholder="請輸入MA"
                  class="form-control"
                />
                <div class="ma">MA</div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary mr-2">
            開始篩選
          </button>

          <button
            type="button"
            class="btn btn-outline-warning"
            data-toggle="modal"
            data-target="#optionsModal"
            id="options"
          >
            自訂策略
          </button>
          <div
            class="modal fade"
            id="optionsModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="optionsModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="optionsModalLabel">自訂策略</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <button
                    id="saveStrategyModalButton"
                    class="btn btn-outline-success mb-3"
                  >
                    儲存策略
                  </button>
                  <div id="userStrategiesList"></div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- web到價通知 -->
        <div class="hidden-before-login">
          <h2 class="mb-3">到價通知設定</h2>
          <div class="d-flex justify-content-around align-items-center mb-3">
            <!-- Web到價通知 -->
            <img
              src="/images/notification.png"
              alt="Web Notification"
              class="img-fluid mb-3"
              data-toggle="modal"
              data-target="#webTrackingModal"
              data-notification-method="Web"
              style="cursor: pointer; max-width: 50px"
              id="NotificationPermissio-web"
            />
            <!-- Modal -->
            <div
              class="modal fade"
              id="webTrackingModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="notificationModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">
                      Web 到價通知設定
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <button
                      id="toggle-subscription"
                      type="button"
                      class="btn mb-2"
                    >
                      開啟到價通知
                    </button>
                    <form id="targetPriceForm">
                      <div class="form-group">
                        <label for="targetSymbol">標的名稱：</label>
                        <input
                          name="targetSymbol"
                          type="text"
                          class="form-control mb-2"
                          id="symbol-Notification"
                          required
                        />
                      </div>
                      <label for="targetPrice">目標價：</label>

                      <div class="form-group">
                        <input
                          name="targetPrice"
                          type="number"
                          class="form-control mb-2"
                          id="targetPrice-Notification"
                          required
                        />
                      </div>
                      <button
                        type="submit"
                        class="btn toggle-modal-link btn-outline-success"
                      >
                        建立通知
                      </button>
                    </form>
                    <div class="notification-list mt-4">
                      <h6 id="notificationHeader-Web" class="mb-3">
                        已建立的通知：
                      </h6>
                      <ul id="notificationList-Web" class="list-group">
                        <!-- 通知列表 -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- TG到價通知 -->
            <img
              src="/images/telegram.png"
              alt="Telegram"
              class="img-fluid mb-3"
              data-toggle="modal"
              data-target="#telegramTrackingModal"
              data-notification-method="Telegram"
              style="cursor: pointer; max-width: 50px"
              id="NotificationPermissio-telegram"
            />
            <!-- Modal -->
            <div
              class="modal fade"
              id="telegramTrackingModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="trackingModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="trackingModalLabel">
                      Telegram 到價通知設定
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- 機器人表單 -->
                    <div class="instructions mb-4">
                      <h5>TG到價通知設定教學：</h5>
                      <ol>
                        <li>
                          先點選
                          <a
                            href="https://t.me/CryptoSniper_MLvip_Bot"
                            target="_blank"
                            >CryptoSniper </a
                          >加入機器人。
                        </li>
                        <li>
                          點選開始按鈕，會收到歡迎通知，即可看到您的 Telegram
                          ID。
                        </li>
                        <li>
                          輸入Telegram ID、標的名稱、目標價，即可設定到價通知。
                        </li>
                      </ol>
                    </div>

                    <button
                      id="toggle-telegram-notification"
                      type="button"
                      class="btn mb-2"
                    >
                      開啟到價通知
                    </button>

                    <form id="targetPriceForm-telegram">
                      <div class="form-group">
                        <label for="telegramId">Telegram ID：</label>
                        <input
                          type="text"
                          id="telegramId"
                          name="telegramId"
                          class="form-control"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <label for="targetSymbol">標的名稱：</label>
                        <input
                          type="text"
                          id="targetSymbol"
                          name="targetSymbol"
                          class="form-control"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <label for="targetPrice">目標價：</label>
                        <input
                          type="number"
                          id="targetPrice"
                          name="targetPrice"
                          class="form-control"
                          required
                        />
                      </div>

                      <button
                        type="submit"
                        class="btn toggle-modal-link btn-outline-success"
                      >
                        建立通知
                      </button>
                      <div class="notification-list mt-4">
                        <h6 id="notificationHeader-Telegram" class="mb-3">
                          已建立的通知：
                        </h6>
                        <ul id="notificationList-Telegram" class="list-group">
                          <!-- 通知列表 -->
                        </ul>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- Line到價通知 -->
            <img
              src="/images/line.png"
              alt="Line"
              class="img-fluid mb-3"
              data-toggle="modal"
              data-target="#lineTrackingModal"
              data-notification-method="Line"
              style="cursor: pointer; max-width: 50px"
              id="NotificationPermissio-line"
            />
            <!-- Modal -->
            <div
              class="modal fade"
              id="lineTrackingModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="lineModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="lineModalLabel">
                      Line 到價通知設定
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <button
                      id="line-subscription"
                      type="button"
                      class="btn mb-2 btn-outline-primary mr-2"
                    >
                      建立Line Notify
                    </button>
                    <button
                      id="toggle-line-notification"
                      type="button"
                      class="btn mb-2"
                    >
                      開啟到價通知
                    </button>
                    <form id="targetPriceForm-line">
                      <div class="form-group">
                        <label for="targetSymbol">標的名稱：</label>
                        <input
                          name="targetSymbol"
                          type="text"
                          class="form-control mb-2"
                          id="symbol-line"
                          required
                        />
                      </div>
                      <label for="targetPrice">目標價：</label>

                      <div class="form-group">
                        <input
                          name="targetPrice"
                          type="number"
                          class="form-control mb-2"
                          id="targetPrice-line"
                          required
                        />
                      </div>
                      <button
                        type="submit"
                        class="btn toggle-modal-link btn-outline-success"
                      >
                        建立通知
                      </button>
                      <div class="notification-list mt-4">
                        <h6 id="notificationHeader-Line" class="mb-3">
                          已建立的通知：
                        </h6>
                        <ul id="notificationList-Line" class="list-group">
                          <!-- 通知列表 -->
                        </ul>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 追蹤清單 -->
        <button
          type="button"
          class="btn btn-outline-warning mb-3 hidden-before-login"
          data-toggle="modal"
          data-target="#favoritesModal"
          id="favorites"
        >
          追蹤清單
        </button>
        <div
          class="modal fade"
          id="favoritesModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="favoritesModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="favoritesModalLabel">追蹤清單</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul id="favoritesList" class="list-group"></ul>
              </div>
            </div>
          </div>
        </div>

        <!-- TradingView Widget BEGIN -->
        <div
          class="tradingview-widget-container mb-4"
          id="tradingViewContainer"
          style="display: none"
        >
          <div id="tradingview_0aab0"></div>
          <div>※部分『季度合約』、『BUSD交易對』不支援</div>
          <script
            type="text/javascript"
            src="https://s3.tradingview.com/tv.js"
          ></script>
          <script
            type="text/javascript"
            src="/js/tradingViewConfig.js"
          ></script>
        </div>
        <!-- TradingView Widget END -->
      </div>

      <!-- 篩選結果 -->
      <div
        class="result-container mt-3"
        id="resultContainer"
        style="display: none"
      >
        <div class="card">
          <div class="card-header">
            <h5 class="centered-text">篩選結果</h5>
          </div>
          <div class="card-body">
            <!-- 顯示「搜尋中」訊息和圖片 -->
            <div
              id="loading-message"
              style="display: none"
              class="searching-gif"
            >
              <div class="loading-image-container">
                <p>搜尋中．．．</p>
                <img
                  src="/images/searching.gif"
                  alt="Searching"
                  class="searching-gif"
                />
              </div>
            </div>
            <table class="table" id="results-table">
              <thead>
                <tr>
                  <th scope="col">追蹤</th>
                  <th scope="col">標的</th>
                  <th scope="col" class="sortable" id="volume-header">
                    成交量
                  </th>
                </tr>
              </thead>
              <tbody id="results-tbody">
                <!-- 篩選結果 -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="js/Bootstrap.js"></script>
    <script type="module" src="/js/index.js"></script>
    <script src="js/User.js"></script>
    <script type="module" src="js/services/telegramNotify.js"></script>
    <script src="/js/services/service-worker.js"></script>
    <script type="module" src="/js/services/notifications.js"></script>
    <script type="module" src="/js/services/lineNotify.js"></script>
    <script type="module" src="js/strategySettings.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
