/* public/css/index.css */

body.night-mode {
  background-color: #343a40;
  color: white;
}
.night-mode .modal-content {
  background-color: #343a40;
  color: white;
}

.main {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* .main {
  display: flex;
}

.main form {
  margin-right: 50px;
}

.filterForm {
  cursor: pointer;
} */
