/* public/css/index.css */

/* 表格文字置中 */
#results-table th,
#results-table td {
  text-align: center;
  vertical-align: middle;
}

/* 表頭固定寬度 */
#results-table th:nth-child(1) {
  width: 20%;
}
#results-table th:nth-child(2) {
  width: 40%;
}
#results-table th:nth-child(3) {
  width: 40%;
}

/* 深色模式文字亮色 */
body.night-mode #results-table th,
body.night-mode #results-table td {
  color: white;
}
body.night-mode {
  background-color: #343a40;
  color: white;
}
.night-mode .modal-content,
.night-mode .card,
.night-mode .list-group-item {
  background-color: #343a40;
  color: white;
}
.night-mode .list-group-item {
  border-color: #6c757d;
}

#volume-header:hover,
#symbol-column:hover {
  cursor: pointer;
  color: #007bff;
}

body.night-mode #volume-header:hover,
body.night-mode #symbol-column:hover {
  color: #00d2ff;
}

/* 圖片容器 */
.loading-image-container {
  width: 100%;
  text-align: center;
}

/* 搜尋中圖片樣式 */
.searching-gif {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.tradingview-widget-container {
  height: 60vh;
}

.hidden {
  display: none !important;
}

/* 按鈕效果 */
.toggle-modal-link {
  margin-left: 5px;
  transition: all 0.5s ease;
}

.toggle-modal-link:hover,
.toggle-modal-link:focus {
  text-decoration: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* 登入/註冊按鈕樣式 */
#loginBtn {
  transition: all 0.3s ease-in-out;
}

#loginBtn:hover {
  background-color: #0056b3;
  color: #fff;
  border-color: #0056b3;
}

/* 登出按鈕樣式 */
#logoutBtn {
  transition: all 0.3s ease-in-out;
}

#logoutBtn:hover {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

/* 背景切換按鈕樣式 */
#toggleThemeBtn {
  transition: all 0.3s ease-in-out;
}

#toggleThemeBtn:hover {
  background-color: #6c757d;
  color: #fff;
  border-color: #6c757d;
}

.ma-input-container {
  display: flex;
  align-items: center;
}

.ma {
  margin-left: 5px;
}

.strategy-item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

.strategy-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.strategy-details {
  margin-top: 10px;
}

.condition {
  margin-bottom: 5px;
}

.carousel-indicators {
  position: absolute;
  top: -20px;
}

.modal-lg {
  max-width: 70% !important;
}

@media (max-width: 580px) {
  .modal-lg {
    max-width: 100% !important;
  }
}

.border-bottom {
  border-bottom: 1px dashed gray;
  margin-bottom: 30px;
}

/* ------------- */

/* 基本樣式 */
.strategy-item,
.list-item {
  margin-bottom: 10px;
}

/* 板塊樣式 */
.section-item {
  font-weight: bold;
  border-top: 3px solid;
  border-bottom: 3px solid;
}

/* 可點擊項目樣式 */
.clickable-item {
  cursor: pointer;
}

/* 滑鼠移入可點擊項目時的樣式 */
.clickable-item:hover {
  color: #007bff;
}

/* 夜間模式下的樣式 */
body.night-mode {
  background-color: #343a40;
  color: white;
}

.night-mode .modal-content,
.night-mode .card,
.night-mode .list-group-item {
  background-color: #343a40;
  color: white;
}

.night-mode .list-group-item {
  border-color: #6c757d;
}

/* 夜間模式下滑鼠移入可點擊項目的樣式 */
body.night-mode .clickable-item:hover {
  color: #00d2ff;
}
